body {
	background: #ffff;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

section {
	margin:auto;
	width:100%;
}

header {
	background-color:#CEAA9A;
	height:200px;
	width:100%;
}

nav {
	height: 100px;
	width:100%;
	text-align:center;
}

main {
	height:700px;
	text-align:justify;
	font-family:;
	font-size:20px;
}

footer {
	height: 100px;
	text-align:justify;
	background:#CEAA9A;
	font-family:;
}

.logo {
	text-align:center;
}

.pesquisa {
	float:right;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 2fr -2fr 2fr;
    grid-template-areas: "h h h"
                         "a m m"
                         "f f f"
}

