body {
	background: #ffff;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

section {
	margin:auto;
	width:100%;
}

header {
	background-color:#CEAA9A;
	height:200px;
	width:100%;
}

nav {
	height: 100px;
	width:100%;
	text-align:center;
}

main {
	height:850px;
	width:auto;
	text-align:justify;
	font-family:;
	font-size:20px;
}

footer {
	height:200px;
	text-align:justify;
	background:#CEAA9A;
	font-family:;
}

.logo {
	text-align:center;
}

.pesquisa {
	float:right;
}

.card-body {
	text-align:center;
	font-family: ;
}

.texto1 {
	text-align:center;
	float:left;
	font-size: 16px;
	padding-left:1%;
	padding-top:2%;
}

.texto2 {
	text-align:center;
	float:left;
	font-size: 16px;
	padding-left:6%;
	padding-top:2%;
}

.texto3 {
	text-align:justify;
	float:left;
	font-size: 16px;
	padding-left:6%;
	padding-top:2%;
}

.container-fluid {
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
}

h2, h3, h4, h5 {
	font-family:'Montserrat', sans-serif;
	text-align:center;
}

@media screen and (max-width:480px) {
	header {width:auto;}
	nav {width:auto; height:auto;}
	main{width:auto; height:auto;}
	footer{clear:both; width:auto; height:auto;}
}

@media screen and (max-width:768px) {
	header {width:auto;}
	nav {width:auto; height:auto;}
	main{width:auto; height:auto;}
	footer{height:650px; width:auto;}
}
